{% extends 'base.html.twig' %}

{% block title %}Hello WifiQrCodeController!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-6 mx-auto mt-5">
                <h1 class="text-center"><u>Scanner moi</u></h1>
                {{img|raw}}
                <a class="btn btn-success mx-auto w-100 h1">Télécharger</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
